.container {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);

  z-index: 1101;
}

.content {
  min-height: 50px;
  height: fit-content;
  min-width: 250px;
  width: fit-content;

  padding: 10px 20px;

  background-color: #FFF;

  border-radius: 4px;

  box-shadow: 0px 8px 18px rgba(93, 92, 204, 0.1);
}

.actions_container {
  margin-top: 15px;

  display: grid;
  grid-template-columns: 96px 105px 86px;
  justify-items: center;
}