.container {
  height: calc(100vh - 64px);
  width: 100%;

  margin-top: 64px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_container {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);

  z-index: 1101;
}

.key_container {
  position: relative;

  width: 140px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.key_text {
  margin: 0;
  padding: 0;

  overflow: hidden;
  text-overflow: ellipsis;
}

.key_button {
  position: absolute;
  top: 5px;
  right: 5px;
}

